/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --animation: .25s;
  --font-root: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --px: 0 5% 0 5%;
  --accent-color: rgb(255, 241, 0);
  --gradient-yellow: radial-gradient(ellipse at center, #efd10eb0 0%,#edde8edc 100%);
  --active: rgb(23, 22, 82);
  --dark: rgb(8,8,16);
  --grey: rgb(83, 83, 83);
}


html,
body {
  font-family: var(--font-root);
}


body,
#root {
  /* background-color: rgb(131, 131, 131); */
  margin: 0;
  padding: 0;

}

body * {
  box-sizing: border-box;
  border: 1px dotted red;
}


nav {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: .25rem;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav a:not(:first-child) {
  margin-left: 1rem;
  font-weight: 700;
}

nav a:first-child {
  justify-self: start;
  margin-right: auto;
}



.menuWorks {
  position: relative;

}

nav a:not(:first-child):hover {
  color: unset;
}

.works {
  font-weight: 700;
  cursor: pointer;
}

.active {
  color: rgb(0, 145, 31);
  font-weight: 700;
}

.dropdownmenu {
  position: absolute;
  top: 3rem;
  left: 0;
  margin: -.5rem;
  background-color: #fff;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 1rem;
  margin: -1rem 0 1rem 0;
  z-index: 101;
  border: 1px solid #41dfffc8;
}


nav,
.description h1,
.description p,
.bio {
  padding: var(--px)
}


.description > img {
  width: 100%;
  max-width: 56rem
}


.flex{
  display: flex;
  align-items: start;
}

.m-l-0 > *{
  margin-left: 0;
}


.column {
  flex-direction: column;
  justify-content: flex-start;
}



.description {
  background-color: var(--accent-color);
  color: black;
  padding-top: 1.75rem;
  padding-bottom: 3rem;
}

nav .logo {
  width: 2.5rem;
}

.card {
  width: 100%;
  aspect-ratio: 1.7777;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  overflow: hidden;
  position: relative;
}

.card .header{
  display: flex;
  flex: 1 1 100;
  flex-direction: column;
  color: var(--grey);
}

.card .header a {
  color: var(--dark);
}

.card .header,
.card .img-container,
.card .description {
  grid-column: 1;
  grid-row: 1;
}

.card h1,
.card h2 {
  padding: .5em;
  margin: 0;
  width: 100%;
}

.card .header h2 {
  font-size: .75rem;
}

.card .header h1 {
  background-color: var(--accent-color)
}



.img-container {
  overflow: hidden;
}

.card .img-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container>div {
  flex: 1 1 33%;
}


.mainGrid {
  margin: 0;
  padding: 0;
  display: flex;
  /* gap: 4rem; */
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* .h-6 {
  background-color: aqua;
} */

@media screen and (min-width: 640px) {
  .card {
    max-width: 50%;
  }

  .mainGrid {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .card {
    max-width: 33.33%;
  }

}




.header {
  /* position: relative; */
  opacity: 0;
  /* background-color: rgb(252, 252, 0); */

  /* background: linear-gradient(180deg, rgba(255,230,8,0) 78%, rgba(255,230,8,1) 79%);  */
  
  transition:
  /* transform var(--animation) ease-in, 
  opacity var(--animation) ease-in, 
  background var(--animation) ease-in , 
  height var(--animation) ease-in; */
  all var(--animation) cubic-bezier(0,0,.41,1);
  height: 200%;
  width: 100%;
  display: flex;
  /* transform: translate(0,-50%); */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* animation: gradientAnimation 3s ease-in; */
}


.header:hover {
  background-image: linear-gradient(to left top, #d16ba5c8, #c777b9c8, #ba83cac8, #aa8fd8c8, #9a9ae1c8, #8aa7ecc8, #79b3f4c8, #69bff8c8, #52cffec8, #41dfffc8, #46eefac8, #5ffbf1c8);
  background-image: var(--gradient-yellow);
  height: 100%;
  opacity: 1;
  transform: translate(0, 0);
}

.bio {
  background-color: rgb(255, 241, 0);
  padding-top: 1rem;
  padding-bottom: 2rem;
}


.bio > * ,
.description > *,
nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
}


/* @media (prefers-color-scheme: dark) {

  #root {
    background-color: #41dfff;
  }

  .description {
    color: var(--dark);
  }
} */

/* 
@media (prefers-color-scheme: light) {

  #root {
    background-color: #cdf7ff;
  }

  .description {
    color: var(--dark);
  }
} */