/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --animation: .25s;
  --font-root: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --px: 0 5vw 0 5vw;
  --accent-color: #800080;
  --accent-active: #1d1160;
  --accent-active-30: hsla(249, 70%, 22%, 0.301);
  --accent-color-hover: #018f01;
  --gradient-yellow: radial-gradient(ellipse at center, #efd10eb0 0%,#edde8edc 100%);
  --active: rgb(23, 22, 82);
  --dark: rgb(8,8,16);
  --grey: rgb(83, 83, 83);
  --header-background: rgb(128,0,128);
  --header-background-gradient: radial-gradient(circle, rgba(128,0,128,0.8785889355742297) 0%, rgba(255,241,0,0.39119397759103647) 100%);
  --color-light: #f6ffd6;
  --dropdownmenu-background: var(--dark);
  --description-link-color: var(--color-light);
  color-scheme: light;

}


html,
body {
  font-family: var(--font-root);
}


body,
#root {
  /* background-color: rgb(131, 131, 131); */
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
  /* border: 1px dotted red; */
}


nav {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: .25rem;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: var(--accent-color);
}

nav a:hover {
  text-decoration: none;
  color: var(--accent-color-hover);
}

nav a:not(:first-child) {
  margin-left: 1rem;
  font-weight: 700;
}

nav a:first-child {
  justify-self: start;
  margin-right: auto;
}

/* nav a:not(:first-child):hover {
  color: var(--accent-color-hover);
} */


.menuWorks {
  position: relative;
}

.works {
  font-weight: 700;
  cursor: pointer;
  color: var(--accent-color);
}

.works:hover,
.dropdownmenu a:hover {
  color: var(--accent-color-hover);
}

.active {
  color: var(--accent-active);
  font-weight: 700;
}

.dropdownmenu {
  position: absolute;
  top: 3rem;
  left: 0;
  margin: -.5rem;
  background-color: #fff;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 1rem;
  margin: -1rem 0 1rem -.5rem;
  z-index: 101;
  border-radius: .5rem;

  box-shadow: 0 0 1rem var(--accent-active-30);
}

.flex{
  display: unset

}

.m-l-0 > *{
  margin-left: 0;
}


/* .column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}


.column > * {
  align-self: flex-start;
} */


/* .grid {
  display: grid;
} */
nav,
.description h1,
.description p,
.bio {
  padding: var(--px)
}


.description {
  background-color: var(--accent-color);
  padding-top: 1.75rem;
  padding-bottom: 3rem;
}

.description,
.description a {
  color: var(--color-light);
}

.description > img {
  width: 100%;
  max-width: 56rem
}

.bio > * ,
.description > *,
.description div p,
.description div h1,
nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
}

nav .logo {
  width: 2.5rem;

}

nav .logo img {
  display: block;
}

.card {
  width: 100%;
  aspect-ratio: 1.7777;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  overflow: hidden;
  position: relative;
}

.card .header{
  display: flex;
  flex: 1 1 100;
  flex-direction: column;
}

.header,
.header a,
.header h1 a {
  color: var(--color-light);
}

.card .header,
.card .img-container,
.card .description {
  grid-column: 1;
  grid-row: 1;
}

.card h1,
.card h2 {
  padding: .5em;
  margin: 0;
  width: 100%;
}

.card .header h2 {
  font-size: .75rem;
}



.img-container {
  overflow: hidden;
}

.card .img-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container>div {
  flex: 1 1 33%;
}


.mainGrid {
  margin: 0;
  padding: 0;
  display: flex;
  /* gap: 4rem; */
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (min-width: 640px) {
  .card {
    max-width: 50%;
  }

  :root {
    --px: 0 2rem 0 2rem;
  }

  .mainGrid {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .card {
    max-width: 33.33%;
  }

}




.header {
  opacity: 0;
  transition:
  /* transform var(--animation) ease-in, 
  opacity var(--animation) ease-in, 
  background var(--animation) ease-in , 
  height var(--animation) ease-in; */
  all var(--animation) cubic-bezier(0,0,.41,1);
  height: 200%;
  width: 100%;
  display: flex;
  /* transform: translate(0,-50%); */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* animation: gradientAnimation 3s ease-in; */
}


.header:hover {
  height: 100%;
  opacity: 1;
  transform: translate(0, 0);
  background: var(--header-background);
  background: var(--header-background-gradient);
}

.bio {
  background-color: var(--accent-color);
  padding-top: 1rem;
  padding-bottom: 2rem;
}




.description * img {
  width: 100%;
  display: block;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}


/* @media (prefers-color-scheme: dark) {

  .description,
  .description > * {
    color: var(--color-light);
  }

  .dropdownmenu {
    background-color: var(--dropdownmenu-background);
  }

} */


/* @media (prefers-color-scheme: light) {
  .description {
    color: var(--color-light);
  }

  .dropdownmenu {
    background-color: var(--dark);
  }

  .description,
  .description a {
    color: #fff;
  }

  .dropdownmenu {
    background-color: var(--color-light);
    color: var(--accent-color);
  }

}  */